body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

.header-ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style-type: none;
}

.header-button, .specials {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #000000;
}

.header-button:hover, .specials:hover {
    background-color: #5e97b8;
    transition: background-color .2s;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
}


.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.catalog-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.catalog, .group {
    display: flex;
    flex-direction: column;
    
    border: 1px solid #000;
}

.catalog-group, .catalog-name {
    width: 100%;
}

.catalog-name, .group-name {
    cursor: pointer;
}

.catalog-notes {
    max-width: 200px;
    padding: 4px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
}